.login-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .container {
    width: 340px;
    min-height: 450px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    box-sizing: border-box;
    background: white;
    transition: all 300ms ease-in-out;

    &:hover {
      box-shadow: 0 0 14px rgba(0, 0, 0, .2);
    }

  }

  .header {
    font-size: 20px;
  }

  .fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin: 40px 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;

    a {
      font-size: 11px;
      color: $main-color;
      text-decoration: none;
    }

  }
}
