$main-color: #3369F3;
$grey-color: #EFEFEF;
$divider-color: #EAEAEA;
$bg-color: #FBFBFB;
$black-font-color: #1E1E1E;
$grey-font-color: #999999;
$bg-message-color: #F8F8F8;
$bg-active-color: #E4EDFD;
$danger-color: #FF2F2F;
